.wrapper {
    display: flex;
}

div {
    display: inline;
}

ul {
    background-color: rgb(164, 164, 251);
    width: 175px;
    height: 365px;
    padding: 0;
    margin: 0;
}

li {
    padding-bottom: 15px;
    font-size: 32px;
    list-style-type: none;
    text-align: center;
}

li:hover {
    background-color: chartreuse;
}

.block {
    background-color: rgb(143, 0, 0);
    height: 365px;
    width: 500px;
}